RewriteEngine On
RewriteRule !(^static|^site_media|^uploadfiles|^core/helpers/files.php$|favicon) app_engine.php
RewriteRule ^uploadfiles core/helpers/files.php
AddType image/x-icon .ico
RewriteRule ^favicon favicon.ico [NC,L]