
/*----------------------------------OROKORRAK--------------------------------*/
.goimargin{
  margin-top: 70px;
}

.eskuinalin{
  float: right;
}

.goimargin-btn{
  margin-top: 10px;
}


/*----------------------------------TAULAK-----------------------------------*/
.link_addnew{
  float: right;
  margin: 5px 15px 10px 0;
}


/*----------------------------------HASIERA----------------------------------*/
.taldeIrudiTxiki{
  float: left;
}

.taldeTestuTxiki{
  float: left;
}