.msg_error {
    background: url('/static/img/false.png') left center no-repeat;
    color: #f90;
    font-weight: normal;
    padding-left: 1.5em;
    font-size: 0.9em;
}

.msg_error_pass {
    background: url('/static/img/true.png') left center no-repeat;
    color: #690;
    padding-left: 1.5em;
    font-size: 0.9em;
}

.field_error {
    border: 1px solid #c00 !important;
}

.field_ok {
    border: 1px solid #690 !important;
}

/* ========================================================================== */

form {
    display: table;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
}

select, input:not([type='file']), textarea {
    background: #34193b;
    border: 1px solid #ad7fa8;
    padding: 2px 4px;
    line-height: 120%;
    color: #75507b;
    font-family: 'Bretan';
}

input[type=file] {
    font-family: 'Bretan';
}

input[type=submit] {
    margin-top: 0.5em;
    background: #000000;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0.2em 1em;
}

input[type=submit]:hover {
    background: #391c42;
}

select:focus, input:not([type='file']):focus, textarea:focus {
    background: #000000;
}

div.instructions {
    width: 80%;
    margin: 0 auto;
}

div.instructions p {
    color: #fff;
    font-size: 1.25em;
    margin-bottom: 2em;
}

div.tr {
    display: table-row;
}

label.td, span.td {
    display: table-cell;
    width: 27%;
    text-align: right;
    padding: 0.5em;
    color: #fff;
}

div.td {
    display: table-cell;
}

.labelcontainer, .captcha {
    color: #ad7fa8;
    line-height: 120%;
}

.top { vertical-align: top; }
textarea {
    width: 74%;
    min-height: 8em;
    height: 8em;
    max-height: 12em;
}

.plain {
    border: none;
    cursor: pointer;
}

a.linkform {
    color: #24476B;
    text-decoration: none;
}

a.linkform:hover {
    text-decoration: underline;
}

a.linkformnav {
    color: #24476B;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
}

a.linkformnav:hover {
    text-decoration: underline;
}

h3.form {
    width: 80%;
    margin: 0 auto;
    padding: 1.5em 0 0.1em 0;
    font-size: 2em;
    color: #f90;
}

