/*-----------------------------------------------------------------------------
------------------------------------FRONT--------------------------------------
-----------------------------------------------------------------------------*/

/*----------------------------------BLOG-----------------------------------*/
ul.kategoriak{
  list-style: none;
  float:left;
  margin-top: 2px;
}

ul.kategoriak li {
  float:left;
  margin:0 30px;
}

ul.kategoriak li a{
  font-size: 1.4em;
}

h1.atalka{
  float:left;
}



/*-----------------------------------------------------------------------------
------------------------------------BACK--------------------------------------
-----------------------------------------------------------------------------*/


/*----------------------------------TAULAK-----------------------------------*/
.link_addnew{
  float: right;
  margin: 5px 15px 10px 0;
}


/*----------------------------------LOGIN-----------------------------------*/
.loginoina{
  font-size: 11px;
  font-style: italic;
  text-align: center;
}