/*-----------------------------------------------------------------------------
------------------------------------FRONT--------------------------------------
-----------------------------------------------------------------------------*/

/*----------------------------------BLOG-----------------------------------*/
ul.kategoriak{
  list-style: none;
  float:left;
  margin-top: 2px;
}

ul.kategoriak li {
  float:left;
  margin:0 30px;
}

ul.kategoriak li a{
  font-size: 1.4em;
}

h1.atalka{
  float:left;
}

ul.post li a{
  font-size: 1.3em;
}

ul.post li li{
  margin-left: 14px;
}

ul.post li li a{
  font-size: 1em;
}

/*----------------------------------TALDEAK-----------------------------------*/
.talde-bloke{
  height: 260px;
}

.talde-irudi img{
  max-height: 170px;
}


/*-----------------------------------------------------------------------------
------------------------------------BACK--------------------------------------
-----------------------------------------------------------------------------*/


/*----------------------------------TAULAK-----------------------------------*/
.link_addnew{
  float: right;
  margin: 5px 15px 10px 0;
}


/*----------------------------------LOGIN-----------------------------------*/
.loginoina{
  font-size: 11px;
  font-style: italic;
  text-align: center;
}