
/*----------------------------------OROKORRAK--------------------------------*/
.rosa{
 background-color: #f74574;
}

a.navbar-brand.naranja{
font-size: 32px;
margin: 5px 70px 0px 10px;
color: #a30850;
}

ul.nav.navbar-nav li{
  margin:5px 5px 2px 5px;
}

ul.nav.navbar-nav.baltza li a{
  color: #000;
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana,Ubuntu, Arial;
}

.goimargin{
  margin-top: 70px;
}

.eskuinalin{
  float: right;
}

.goimargin-btn{
  margin-top: 10px;
}

h2.margintopKendu{
  margin-top: 0px;
}

p.italic{
  font-style: italic;
}


/*----------------------------------TAULAK-----------------------------------*/
.link_addnew{
  float: right;
  margin: 5px 15px 10px 0;
}


/*----------------------------------HASIERA----------------------------------*/
.taldeIrudiTxiki{
  float: left;
}

.taldeIrudiTxiki img{
  max-width: 180px;
  max-height: 200px;
  margin: 25px 20px 5px 5px;
}

.taldeTestuTxiki{
  float: left;
}


/*----------------------------------FORM-----------------------------------*/
input[name='izena'], input[name='emaila'], input[name='web'], input[name='helbidea'] {
  width: 250px;
}

input[name='youtube'] {
  width: 400px;
}

input[name='ekitaldi_izena'] {
  width: 450px;
}


/*----------------------------------TALDEA-----------------------------------*/

.taldeIrudiHandi{
  float: left;
}

.taldeIrudiHandi img{
  max-width: 500px;
  max-height: 300px;
  margin: 10px 20px 4px 5px;
}